* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  text-align: center;
}
.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 75px);
  grid-template-rows: minmax(120px, auto) repeat(5, 75px);
  background-color: rgba(0, 0, 0, 0.589);
  margin: auto;
  max-width: 330px;
  padding: 10px;
  border-radius: 10px;
}
.calculator button {
  cursor: pointer;
  font-size: 30px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 1px solid;
  margin: 1px;
}
.calculator button:hover {
  background-color: #a9a9a9;
}
.span-two {
  grid-column: span 2;
  background-color: rgba(32, 31, 32, 0.8);
}
.display {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  border-radius: 10px;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  border: 1px solid white;
  margin: 1px;
}
.display .previous-value {
  color: rgba(255, 255, 255, 0.829);
  font-size: 25px;
}
.display .current-value {
  color: white;
  font-size: 35px;
}
